.container {
  padding: 1em;
  display: flex;
  flex-direction: row-reverse;
}

.open {
  position: fixed;
  right: 5%;
}

.navbar {
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.closed {
  display: none;
}
